.navbar li {
    list-style-type:none;
    text-align: right;
    display: inline-block;
    padding-top: 20px;
}

.navbar span {
    float: right;
    padding: 10px;
}



.appetizer {
    background-color: rgb(50, 27, 68);
}

.appetizer h1, h2, p {
    margin: 40px;
}

h1 {
    color: white;
    font-family: 'Birthstone Bounce', cursive;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: left;
}

h2 {
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: left;
}

p {
    color: white;
    font-family: "Jost", sans-serif;
    letter-spacing: 1px;
    text-align: left;
}