.navbar li {
    list-style-type:none;
    text-align: right;
    display: inline-block;
    padding-top: 20px;
}

.navbar span {
    float: right;
    padding: 10px;
}





.navbar li 
a {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    padding: 15px;
    font-family: "Jost", sans-serif;
}

.navbar-brand img {
    width: 65px;
    height: 90px;
    margin-left: 10px;
    margin-top: -17px;
    margin-bottom: -15px;
}






.appetizer {
    background-color: rgb(50, 27, 68);
}

.appetizer h1, h2, p {
    margin: 40px;
}

h1 {
    color: white;
    font-family: 'Birthstone Bounce', cursive;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: left;
}

h2 {
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: left;
}

p {
    color: white;
    font-family: "Jost", sans-serif;
    letter-spacing: 1px;
    text-align: left;
}